/*
COLORS:

Light green: #7ED56F
Medium green: #55C57A
Dark green: #28B485

*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header {
    position: relative;
    height: 95vh;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(126, 213, 111, 0.80)), to(rgba(40, 180, 133, 0.80))), url(../img/hero.jpg);
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.80), rgba(40, 180, 133, 0.80)), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(x y, x y, x y, x y);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #FFF;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 20px;
}