$colour-primary: #2998FF;
$colour-primary-light: #57A4EC;
$colour-primary-dark: #5643FA;

$colour-secondary-light: #ffb900;
$colour-secondary-dark: #ff7730;

$colour-tertiary: #55c57a;
$colour-tertiary-light: #7ed56f;
$colour-tertiary-dark: #28b485;

$colour-white: #fff;
$colour-grey-light: #f7f7f7;
$colour-grey-light-2: #EEE;

$colour-grey-dark: #777;
$colour-grey-superdark: #333;
$colour-black: #000;

$colour-blanc: #fff;
$colour-noir: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-petit: 6rem;
$gutter-horizontal: 6rem;

$default-box-shadow: 0 1rem 2rem rgba($colour-noir, 0.15);