.feature-box {
    background-color: rgba($colour-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($colour-white, 0.15);
    box-shadow: 0 1.5rem 4rem rgba($colour-white, 0.15);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;

    @include responsive(tablet-portrait) {
        padding: 1.75rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        background-image: -webkit-gradient(linear, left top, right top, from($colour-primary-light), to($colour-primary-dark));
        background-image: linear-gradient(to right, $colour-primary-light, $colour-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        @include responsive(tablet-portrait) {
            margin: 0;
        }
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
        transform: translateY(-1.5rem) scale(1.03);
    }
}