.u-centre-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4.5rem !important;

    @include responsive(tablet-portrait) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-large {
    margin-bottom: 8rem !important;

    @include responsive(tablet-portrait) {
        margin-bottom: 5rem !important;
    }
}

.colour-btn-primary {
    background-image: -webkit-gradient(linear, left top, right bottom, from($colour-primary-light), to($colour-primary-dark));
    background-image: linear-gradient(to bottom right, $colour-primary-light, $colour-primary-dark);
}

.colour-btn-secondary {
    background-image: -webkit-gradient(linear, left top, right bottom, from($colour-secondary-light), to($colour-secondary-dark));
    background-image: linear-gradient(to bottom right, $colour-secondary-light, $colour-secondary-dark);
}

.colour-btn-tertiary {
    background-image: -webkit-gradient(linear, left top, right bottom, from($colour-tertiary-light), to($colour-tertiary-dark));
    background-image: linear-gradient(to bottom right, $colour-tertiary-light, $colour-tertiary-dark);

}